<div class="navbar-cocktail py-1 mb-3">
  <div class="logo">
  <i class="fas fa-cocktail size fa-2x"></i>
  </div>
</div>

<div class="container">
  <div class="offset-2 col-8">
   <%= simple_form_for @cocktail do |f| %>
  <%= f.input :name %>
  <%= f.input :photo, as: :file %>
  <%= f.submit "Add cocktail", class: "btn btn-primary" %>
  <% end %>
  </div>

</div>
