body {
  background-color: #f9dcc4;
}


h1 {
  color: rgba(0,0,0,0.9);
  font-family: "Trebuchet MS", sans-serif;
  font-size: 5em;
  letter-spacing: -2px;
  border-bottom: 2px solid black;
  text-transform: uppercase;
}
